<template name="home">
    <div class="container">
        <div class="page-header">
            <h1>1-Wall</h1>
        </div>

        <div class="row">
            <div class="col-sm-8 col-md-6">
                <p>This is a collaborative drawing app, where you and your friends can draw together in realtime from different browsers. You can use different colours and different stroke styles to create your works of art.</p>

                <p>All of your drawings are rendered in SVG which means you can scale it to any size without distortion. You can download your drawn image any time by clicking the <strong>Save</strong> button in the toolbar.</p>

                <p class="text-center">
                    <a href="/draw" class="btn btn-primary btn-lg main-action-btn">Start Drawing</a>
                </p>
            </div>
        </div>
    </div>
</template>