<template name="home">
    <div class="container">
        <div class="page-header">
            <h1>1-Wall</h1>
        </div>

        <p>This is a collaborative drawing app, where you and your friends can draw together in realtime. You can use different colours and different stroke styles to create your works of art. All of your drawings are rendered in SVG which you can download any time by clicking the <strong>Save</strong> button in the toolbar.</p>

        <p class="text-center">
            <a href="/draw" class="btn btn-primary btn-lg">Start Drawing</a>
        </p>
    </div>
</template>